# dependencies
**/node_modules
.pnp.cjs
.pnp.loader.mjs

# logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/*.log
# test coverage
**/coverage

# next.js
**/.next/
**/out/

# builds & caches
**/dist
**/.turbo

# env files - ignore all .env files but keep .env.example
**/.env
**/.env.local
**/.env.*.local
!**/.env.example
!**/.env.test.example

# vercel
.vercel

# typescript
**/*.tsbuildinfo
**/next-env.d.ts

# editors & OS
.vscode
.idea
.DS_Store

# keys
*.pem

# python
.venv
__pycache__
*.pyc
.env
myenv
venv

# golang
services/rune-worker/main
services/rune-worker/go.sum

# nginx
nginx/ssl/

# rust
**/target/
**/*.rs.bk
**/*.rlib
**/*.rmeta
**/*.d
**/*.lock
**/Cargo.lock
**/Cargo.toml.bk